<div class="container">
    <div class="row">
        <h4>Select User:</h4>
        <div>
            <select style="width: 50%;" (change)="usernameSelection($event)" class="select-user">
                <option value="">Select User</option>
                <option *ngFor="let user of usersList" value='{{user.userId}}'>{{user.username}}</option>
            </select>&nbsp;&nbsp;
            <button (click)="getPolicyDataforUser()" id="get_policy">Get Policy</button>
        </div>
    </div><br>

    <div *ngIf="show_details" class="row">
        <div class="header">
            <h1>{{title}}</h1>
        </div>

        <div class="quotes-table">
            <table class="table">
                <thead>
                    <th>Policy Id</th>
                    <th>Quote Id</th>
                    <th>Policy Effective Date</th>
                    <th>Policy End Date</th>
                    <th>Policy Term</th>
                    <th>Policy Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let policy of policyData">
                        <td>{{policy['id']}}</td>
                        <td>{{policy['quoteId']}}</td>
                        <td>{{policy['startDate']}}</td>
                        <td>{{policy['endDate']}}</td>
                        <td>12</td>
                        <td>{{policy['status']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div><button (click)="cancel()">Cancel</button></div>
        
    </div>

</div>