<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
                    <h1 class="display-4 py-2 text-truncate title">User Registration</h1>
                    <div class="px-2">
                        <form [formGroup]="userForm" (ngSubmit)="addUser()" class="justify-content-center">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter username">
                            </div><br>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
                            </div><br>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                            </div><br>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email Address">
                            </div><br>
                            <div class="form-group">
                                <label for="dob">Date Of Birth</label>
                                <input type="text" formControlName="dob" class="form-control" id="dob" placeholder="Date of Birth">
                            </div><br>
                            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>